<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div>
    	<% include partials\nav.ejs %>
    </div>
    <div>
    	<%- content %>
    </div>
  </body>
</html>